<ion-content>
  <h1 class="ion-padding">Services</h1>

  <!-- <ion-searchbar></ion-searchbar> -->

  <ion-item lines="none" *ngIf="sections.length < 1" (click)="addFirstSection()">
    <ion-icon name="add-outline"></ion-icon>
    <ion-label class="label-section ion-text-capitalize">Create Section</ion-label>
  </ion-item>

  <form [formGroup]="homeService.sectionsForm">
    <!-- <ion-input
     name="$key"
     formControlName="$key">
    </ion-input>

    <ion-input
     name="value"
     formControlName="value">
    </ion-input>

    <div formArrayName="section" *ngFor="let section of homeService.section.controls; let i = index;">
      <div [formGroupName]="i">
        <ion-input formControlName="value" placeholder="Section Name" class="ion-text-capitalize" required></ion-input>   
      </div>
    </div> -->
  </form>

  <ion-item lines="none" *ngIf="sections.length > 0" (click)="addSection(sections.length)">
    <ion-icon name="add-outline"></ion-icon>
    <ion-label class="label-section ion-text-capitalize">Add another section</ion-label>
  </ion-item>
</ion-content>
