<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ 'home.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="full-height">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" [routerLink]="['services']">
        <ion-card class="services-card">
          <ion-card-header>
            <ion-card-title color="light">
              {{ 'home.sections.services' | translate }}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" [routerLink]="['coupons']">
        <ion-card class="coupons-card">
          <ion-card-header>
            <ion-card-title color="light">
              {{ 'home.sections.coupons' | translate }}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
