ion-title {
  font-family: Poppins-Bold;
}

ion-footer {
  background: var(--ion-color-dark-contrast);
}

ion-card {
  height: 150px;
  background-size: cover;

  @media screen and (min-width: 768px) {
    height: 300px;
  }
}

.services-card {
  background-image: url('../../../../../assets/img/washing-machine.jpg') !important;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
  background-position: 50% 35%;
}

.coupons-card {
  background-image: url('../../../../../assets/img/coupons.jpg') !important;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
}
