@font-face {
    font-family: Poppins-Light;
    src: url('../../../../../assets/fonts/Poppins-Light.ttf');
  }
  
@font-face {
    font-family: Poppins-Medium;
    src: url('../../../../../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../../../../../assets/fonts/Poppins-Bold.ttf');
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    font-family: Poppins-light;
}

* {
    font-family: Poppins-Medium;
}

ion-toolbar {
    --background: var(--ion-background-color);
}

ion-content {
    text-align: center;
}

.arrow-back {
    font-size: 24px;
    margin-left: 10px;
}

ion-label {
    margin-left: 15px;
}

.photo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name h2 {
    text-transform: lowercase;
}
    
.user-name h2::first-letter {
    text-transform: uppercase;
}

.user-occupation {
    font-family: Poppins-Medium;
}

ion-col {
    padding: 0;
}

ion-avatar {
    width:100% !important;
    height : 100% !important;
    max-width: 80px !important;  //any size
    max-height: 80px !important; //any size
    // margin: auto;
}

.camera-button {
    z-index: 2;
    position: absolute;
    left: 13%;
    top: 5%;
    margin: auto;
}

#edit {
    font-size: 64px;
    color: #efefef;
}

#capa {
    width: 240px;
    height: 240px;
    border-radius: 200px;
}

ion-list {
    border-radius: 20px;
    margin: 5% 5% 0 5%;
}

ion-list, ion-input, ion-label, ion-item {
    --background: transparent;
}

ion-input {
    font-family: Poppins-Medium;
    --color: var(--ion-color-tertiary-tint);
}

.list-ios {
    background: none;
}

.native-input.sc-ion-input-ios {
    color: white;
}
