<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      slot="start"
      class="ion-margin-horizontal"
      [routerLink]="['/home']"
      name="chevron-back-outline"
    ></ion-icon>
    <ion-title>{{ 'coupons.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="globals.isEnterprise; else clientView">
    <ion-grid class="margin-bottom">
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-button
            (click)="presentCouponFormModal()"
            expand="block"
            fill="outline"
            color="light"
          >
            <ion-text color="dark">{{ 'coupons.add-new-coupon' | translate }}</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="coupons.length === 0" class="ion-margin">
        <ion-col class="ion-text-center">
          <ion-text>{{ 'coupons.no-coupons-yet' | translate }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10" *ngFor="let coupon of coupons">
          <app-coupon [coupon]="coupon"></app-coupon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-template #clientView>
    <ion-grid>
      <ion-row *ngIf="coupons.length === 0" class="ion-margin">
        <ion-col class="ion-text-center">
          <ion-text>{{ 'coupons.no-able-coupons' | translate }}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="10" *ngFor="let coupon of coupons">
          <app-coupon [coupon]="coupon"></app-coupon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
