@font-face {
    font-family: Poppins-Light;
    src: url('../../../assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../../assets/fonts/Poppins-Medium.ttf');
}

* {
    font-family: Poppins-Medium;
}

ion-content, ion-item, ion-footer {
    --background: var(--ion-background-color);
}

ion-item {
    --border: none;
}

ion-list {
    padding: 0;
    margin-top: 30%;
}

img, ion-icon {
    margin-right: 7px;
}