<form
 [formGroup]="inventarioService.inventarioForm"
 (ngSubmit)="onSubmit()">

  <ion-input
   type="hidden"
   formControlName="$key">
  </ion-input>

  <ion-item>
    <ion-label position="floating">
        Fecha
    </ion-label>
    <ion-datetime
     required
     formControlName="fecha"
     (ionChange)="getDate($event)"
     [dayShortNames]="customDayShortNames"
     displayFormat="YYYY-MM-DD"
     monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic">
    </ion-datetime>
  </ion-item>

  <ion-button
   [disabled]="buttonCount >= limitCount"
   (mouseup)="addField()"
   (click)="inventarioService.addImagenField()">
    Añadir imagen
  </ion-button>

  <ion-fab>
    <ion-fab-button>
      <ion-icon name="images-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="image-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="collection ion-padding">
    <div class="collection-item" text-center *ngFor="let imagen of imageListTemp; index as i">
      <img [src]="imagen.urlImage" width="256px" alt="" (click)="showImage(i)">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
           <span>{{imagen.dateImage}}</span>
          </ion-col>
          <ion-col style="text-align: end;" (click)="removeImage(imagen)">
            <ion-icon name="trash" style="font-size: 24px;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  
  <ion-item>
    <ion-label position="floating">
        Nombre del producto
    </ion-label>
    <ion-input
     required
     type="name"
     name="nombre"
     minlength="1"
     formControlName="nombre">
    </ion-input>
  </ion-item>

  <ion-item>
  <ion-label position="floating">
    Marca
  </ion-label>
    <ion-input
     required
     type="name"
     name="marca"
     formControlName="marca">
    </ion-input>
  </ion-item>

  <ion-item>
  <ion-label position="floating">
    Cantidad
  </ion-label>
    <ion-input
     required
     type="number"
     name="cantidad"
     formControlName="cantidad">
    </ion-input>
  </ion-item>
  
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-button
         type="onSubmit()"
         [disabled]="!inventarioService.inventarioForm.valid || button">
          Agregar producto
        </ion-button>

        <ion-button
         (click)="inventarioService.resetForm(inventarioService.inventarioForm)">
          Reset
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>