<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      slot="start"
      class="ion-margin-horizontal"
      [routerLink]="['/home/services']"
      name="chevron-back-outline"
    ></ion-icon>
    <ion-title>{{ 'services.notifications.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid class="full-height">
    <ion-row class="ion-align-items-center full-height">
      <ion-col class="ion-text-center">
        <ion-text>No messages so far</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-list>
    <ion-item-sliding *ngFor="let notification of notifications">
      <ion-item [routerLink]="['service-detail', notification]">
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-start ion-margin-vertical">
                <ion-title class="ion-text-start ion-no-padding">
                  {{notification.serviceTitle}}
                </ion-title>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-text> {{notification.conditionDescription}} </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option [routerLink]="['service-detail', notification]">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="removeNotification(notification.$key)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
