* {
  background-color: black;
  color: white;
}

.icon-container {
  background: none;
}

.icon-arrow {
  opacity: 0.7;
  background-color: gray;
  border-radius: 20px;
}

ion-header,
ion-toolbar,
ion-content {
  --background: black;
}

ion-slide {
  background-color: black;
}
