@font-face {
    font-family: Poppins-SemiBold;
    src: url('../../../assets/fonts/Poppins-SemiBold.ttf');
}

h1 {
    font-family: Poppins-SemiBold;
    font-size: 42px;
}

ion-card {
    font-family: Poppins-SemiBold;
    --color: var(--ion-color-dark);

    &.active {
      border: 1px solid var(--ion-color-primary) !important;
    }
}

.arrow-back {
    font-size: 24px;
    margin-left: 5px;
}
@media only screen and (max-width: 330px) {
    ion-card-content {
        font-size: 12px !important;
    }
}

.global-grid, .global-row {
  height: 100%;
}
