@font-face {
  font-family: Poppins-Medium;
  src: url("../../../../../../../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Light;
  src: url("../../../../../../../assets/fonts/Poppins-Light.ttf");
}

* {
  --font-family: Poppins-light;
}

ion-title {
  font-family: Poppins-Medium;
}
