<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      class="arrow-back"
      name="arrow-back-outline"
      routerLink="/inventory"
      slot="start"
      (click)="inventarioService.resetForm(inventarioService.inventarioForm)"
    >
    </ion-icon>
    <ion-title>Formulario de inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <app-form></app-form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
