<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow-back" name="arrow-back-outline" routerLink="/" slot="start"></ion-icon>
    <!-- <img class="arrow-back" src="../../../../../assets//images/arrow-back-up.png" width="32px" routerLink="/" slot="start"> -->
    <ion-title>Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="div-principal">
    <ion-input class="search" type="text" name="filterRegistro" placeholder="Search..." [(ngModel)]="filterRegistro">
    </ion-input>

    <ion-item>
      <ion-grid>
        <ion-card>
          <ion-row id="registro-list">
            <ion-col>Fecha</ion-col>
            <ion-col>Creador de la ruta</ion-col>
            <ion-col>Nombre cliente</ion-col>
            <ion-col>Accion</ion-col>
          </ion-row>
        </ion-card>

        <ion-card>
          <div id="square">
            <div id="row-section"
              *ngFor="let registro of registroList | filter:filterRegistro | reverse; let i = index">
              <ion-row id="registro" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">
                <ion-col class="col-element-date">{{registro.fecha}}</ion-col>
                <ion-col class="col-element">{{registro.userName}}</ion-col>
                <ion-col class="col-element">{{registro.nombreCliente}}</ion-col>
                <ion-col class="col-element">
                  <ion-button (click)="registroService.populateForm(registro)" routerLink="/rutas-form">
                    <ion-icon name="create-outline"></ion-icon>
                  </ion-button>
                  <ion-button *ngIf="isAdmin" (click)="onDelete(registro.$key)">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-card>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/rutas-form" (click)="newForm()">
      <ion-icon class="add-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>