<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      class="arrow-back"
      name="chevron-back-outline"
      routerLink="/welcome-slide"
      slot="start">
   </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin">
        <h1>Choose Your Category</h1>
      </ion-col>
    </ion-row>
  </ion-grid>


  <form [formGroup]="authService.authForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item lines="none">
              <ion-label>Company</ion-label>
              <ion-checkbox mode="ios" formControlName="company" (ionChange)="selectOne($event.detail.checked, 'company')" slot="start"></ion-checkbox>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Person</ion-label>
              <ion-checkbox mode="ios" formControlName="person" (ionChange)="selectOne($event.detail.checked, 'person')" slot="start"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end ion-margin">
        <ion-button (click)="selectForm()" routerLink="/set-email">Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
