<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      class="arrow-back"
      name="chevron-back-outline"
      [routerLink]="['/welcome-slide']"
      slot="start"
    >
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="full-height">
    <ion-row class="full-height ion-align-items-center ion-justify-content-center">
      <ion-col size-lg="8">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-margin">
              <h1>{{ 'choose-your-category.title' | translate }}</h1>
            </ion-col>
          </ion-row>
        </ion-grid>

        <form [formGroup]="authService.authForm">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item lines="none">
                    <ion-label>{{ 'choose-your-category.options.company' | translate }}</ion-label>
                    <ion-checkbox
                      mode="ios"
                      formControlName="company"
                      (ionChange)="selectOne($event, 'company')"
                      slot="start"
                    ></ion-checkbox>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>{{ 'choose-your-category.options.employee' | translate }}</ion-label>
                    <ion-checkbox
                      mode="ios"
                      formControlName="employee"
                      (ionChange)="selectOne($event, 'employee')"
                      slot="start"
                    ></ion-checkbox>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>{{ 'choose-your-category.options.person' | translate }}</ion-label>
                    <ion-checkbox
                      mode="ios"
                      formControlName="person"
                      (ionChange)="selectOne($event, 'person')"
                      slot="start"
                    ></ion-checkbox>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>

        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-end ion-margin">
              <ion-button color="tertiary" fill="outline" (click)="selectForm()">
                {{ 'next' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
