<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inventory" layout="icon-top">
      <ion-icon name="file-tray-stacked"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-routes" layout="icon-top">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Routes</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="home" layout="icon-top">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="charts" layout="icon-top">
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>Charts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" layout="icon-top" class="tab-trash">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
