@font-face {
    font-family: Poppins-Medium;
    src: url('../../../../../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../../../../../assets/fonts/Poppins-Light.ttf');
}


ion-content {
    --background: #01010E;
}

ion-item {
    margin: 15px;
    border-radius: 30px;
    --background: #f0f0f0;
}

ion-input {
    font-family: Poppins-Light;
}

ion-button {
    font-family: Poppins-Medium;

    margin: 15px;
}
