<ion-content>

    <h1 class="ingresar">Ingresar</h1>

    <div id="container">

        <form [formGroup]="authService.authForm" (ngSubmit)="onSubmitLogin()">
            <div formGroupName="server">
                <ion-item>
                    <ion-input
                     formControlName="name"
                     placeholder="Server Name">
                        <ion-icon name="document-lock-outline"></ion-icon>
                    </ion-input>
                </ion-item>
            </div>

            <ion-item>
                <ion-input 
                 email
                 class="input-mail"
                 type="email"
                 name="email"
                 formControlName="email"
                 placeholder="Correo Electronico">
                    <ion-icon name="mail-outline"></ion-icon>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input
                password
                type="password"
                name="password"
                formControlName="password"
                placeholder="Contraseña"
                minlength="6">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </ion-input>
            </ion-item>

            <ion-button class="ion-padding" expand="block" type="onSubmitLogin()">Ingresar</ion-button>

        </form>
        <div class="ion-text-center ion-padding">
            <a id="registrarse" class="register" (click)="onSubmitRegister()">Registrarse</a>
        </div>
    </div>
</ion-content>

  