@font-face {
    font-family: AvertaStandard-Regular;
    src: url('../../../assets/fonts/AvertaStandard-Regular.ttf');
}

@font-face {
    font-family: Lato-Regular;
    src: url('../../../assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../../../assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../../assets/fonts/Poppins-Medium.ttf');
}

ion-footer {
    background-color: #f0f0f0;
}

#container {
    padding-top: 90px;
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.ingresar {
    margin-top: 100px;
    margin-left: 40px;
    font-size: 50px;
    font-family: Poppins-Medium;
    font-weight: bold;
}

.login-header {
    background-color: var(--ion-color-primary);
}

.register {
    --text-align: center;

}

.tuerca {
    // margin: 7px;
    margin-left: 145px;
    margin-top: 20px;
    margin-bottom: 20px;
    --text-align: center;
}

ion-icon {
    padding: 6px;
}

ion-item {
    margin-top: 7px;
    border-radius: 15px;
    // --background: #d0d0d0;
}

ion-input {
    font-family: Poppins-Medium;
    font-size: 15px;
}

ion-item {
    padding-top: 3px;
}

ion-button {
    --border-radius: 50px;
    font-family: AvertaStandard-Regular;
}

a {
    font-family: Poppins-Light;
    font-size: 14px;
}
