<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      class="arrow-back"
      name="chevron-back-outline"
      routerLink="/welcome-slide"
      slot="start"
    >
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="global-grid">
    <ion-row class="global-row ion-align-items-center ion-justify-content-center">
      <ion-col size-lg="10">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-margin">
              <h1>Hi again</h1>
            </ion-col>
          </ion-row>
        </ion-grid>

        <form [formGroup]="authService.authForm" (ngSubmit)="onSubmitLogin()">
          <ion-item class="ion-margin" lines="none">
            <ion-label>
              <ion-icon name="mail-outline"></ion-icon>
            </ion-label>
            <ion-input
              email
              class="input-mail"
              type="email"
              name="email"
              formControlName="email"
              placeholder="Email"
            >
            </ion-input>
          </ion-item>

          <ion-item class="ion-margin" lines="none">
            <ion-label>
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-label>
            <ion-input
              password
              placeholder="Password"
              type="password"
              name="password"
              formControlName="password"
              minlength="6"
            >
            </ion-input>
          </ion-item>

          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-end">
                <ion-button type="onSubmitLogin()"> Sign In </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
