ion-content {
  // top: 25%;
}

ion-grid, ion-row {
  height: 100%;
}

h1 {
    font-family: Poppins-Semibold;
    font-size: 56px;
}

ion-footer {
    background-color: var(--ion-color-dark-contrast);
    color: var(--ion-color-dark);
}

.padding-segment-button {
    padding: 15px;
}
