@font-face {
    font-family: Poppins-SemiBold;
    src: url('../../../assets/fonts/Poppins-SemiBold.ttf');
}

h1 {
    font-family: Poppins-Semibold;
    font-size: 56px;
}

ion-footer {
    background-color: #fff;
    color: black;
}

.padding-segment-button {
    padding: 15px;
}
