<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size-xl="8">
        <h1>{{'welcome-slide.title' | translate}}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-segment mode="ios" value="login">
          <ion-segment-button class="padding-segment-button" routerLink="/login" value="login">
            <ion-label>{{ 'welcome-slide.buttons.sign-in' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button
            class="padding-segment-button"
            value="sign-up"
            routerLink="/choose-category"
          >
            <ion-label>{{ 'welcome-slide.buttons.sign-up' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
