<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Charts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-content>
      <canvas #linealChart></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
