<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h2 class="ion-no-margin">{{ 'services.service-form.preview' | translate }}</h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-card>
          <img [src]="imageExample" alt="" />
          <ion-card-header>
            <ion-card-title>{{servicesService.serviceForm.get('title').value}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>{{ servicesService.serviceForm.get('description').value }}</ion-text>
            <br />
            <br />
            <ion-text>${{ servicesService.serviceForm.get('price').value }}</ion-text>
          </ion-card-content>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="10">
                <ion-button color="dark" expand="block" class="ion-text-center">
                  {{ 'services.service-form.request-for-it' | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <form [formGroup]="servicesService.serviceForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-item lines="none">
            <ion-label>{{ 'services.service-form.title-input' | translate }}</ion-label>
            <ion-input
              formControlName="title"
              #title
              maxlength="30"
              class="ion-text-center"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="setImage()" expand="block" color="dark">
            <ion-icon name="image-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="7">
          <ion-item lines="none">
            <ion-label position="stacked"
              >{{ 'services.service-form.description-input' | translate }}</ion-label
            >
            <ion-textarea formControlName="description" #description maxlength="256"></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item lines="none">
            <ion-label>$</ion-label>
            <ion-input formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <ion-button (click)="submitForm()" color="tertiary" expand="block"
            >{{(isEdit ? 'services.service-form.update-service-button' :
            'services.service-form.add-service-button') | translate}}</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>
