ion-input, ion-label {
  font-family: Poppins-Semibold;
}

ion-card {
  img {
    width: 100%;
    height: 200px;
    @media screen and (min-width: 768px) {
      height: 300px;
    }
    object-fit: cover;
  }
}
