@font-face {
  font-family: Poppins-Medium;
  src: url('../../../../../../../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Light;
  src: url('../../../../../../../assets/fonts/Poppins-Light.ttf');
}

.arrow-back {
  font-size: 24px;
  margin-left: 10px;
}

.item-has-value .label-floating.sc-ion-label-md-h,
.label-floating.sc-ion-label-md-h {
  font-family: Poppins-Light;
}

* {
  font-family: Poppins-Medium;
}

ion-title {
  font-family: Poppins-Medium;
}

ion-icon:focus {
  outline: none;
  box-shadow: none;
}

ion-item {
  --border-radius: 15px;
  --background: var(--ion-color-light);
}

ion-button {
  margin: 15px;
  --border-radius: 10px;
}

ion-segment-button,
ion-button {
  text-transform: none;
}

.wait-segment-button {
  --background-checked: var(--ion-color-danger);
  --color-checked: var(--ion-color-danger-contrast);
}

.success-segment-button {
  --background-checked: var(--ion-color-success);
  --color-checked: var(--ion-color-success-contrast);
}

.ios .wait-segment-button {
  --color-checked: none;
}

.ios .success-segment-button {
  --color-checked: none;
}
