<form [formGroup]="inventoryService.inventarioForm" (ngSubmit)="onSubmit()">
  <ion-item lines="none" class="ion-margin">
    <ion-label position="stacked">
      {{ 'inventory.form.inputs-label.date' | translate }}
    </ion-label>
    <ion-datetime
      required
      formControlName="date"
      (ionChange)="getDate($event)"
      dayShortNames="customDayShortNames"
      displayFormat="YYYY-MM-DD"
      monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
    >
    </ion-datetime>
  </ion-item>

  <!-- <ion-button
    [disabled]="buttonCount >= limitCount"
    (mouseup)="addField()"
    (click)="inventarioService.addImagenField()"
  >
    Añadir imagen
  </ion-button> -->

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-button mode="ios" color="tertiary" (click)="takePicture()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          {{ 'inventory.form.buttons.add-picture' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid> -->
  <!-- <ion-row class="ion-justify-content-center"> -->
  <!-- <ion-col size="10"> -->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="collection-item">
        <div class="ion-text-center" *ngFor="let image of imageListTemp; index as i">
          <img [src]="image.urlImage" width="256px" alt="" (click)="showImage(i)" />
          <span>{{ image.dateImage }}</span>
        </div>
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>
  </ion-grid>

  <!-- </ion-col> -->
  <!-- </ion-row> -->
  <!-- </ion-grid> -->

  <!-- <div>
    <div class="collection-item" text-center *ngFor="let imagen of imageListTemp; index as i">
      <img [src]="imagen.urlImage" width="256px" alt="" (click)="showImage(i)" />
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <span>{{ imagen.dateImage }}</span>
          </ion-col>
          <ion-col style="text-align: end" (click)="removeImage(imagen)">
            <ion-icon name="trash" style="font-size: 24px"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div> -->

  <ion-item lines="none" class="ion-margin">
    <ion-label position="stacked">
      {{ 'inventory.form.inputs-label.item-name' | translate }}
    </ion-label>
    <ion-input required type="name" name="nombre" minlength="1" formControlName="name"> </ion-input>
  </ion-item>

  <ion-item lines="none" class="ion-margin">
    <ion-label position="stacked">
      {{ 'inventory.form.inputs-label.brand' | translate }}
    </ion-label>
    <ion-input required type="name" name="marca" formControlName="brand"> </ion-input>
  </ion-item>

  <ion-item lines="none" class="ion-margin">
    <ion-label position="stacked">
      {{ 'inventory.form.inputs-label.amount' | translate }}
    </ion-label>
    <ion-input required type="number" name="cantidad" formControlName="amount"> </ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          mode="ios"
          expand="block"
          type="onSubmit()"
          [disabled]="!inventoryService.inventarioForm.valid || button"
        >
          {{ 'inventory.form.buttons.add-item' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          mode="ios"
          fill="outline"
          color="tertiary"
          class="ion-text-end"
          expand="block"
          (click)="inventoryService.resetForm(inventoryService.inventarioForm)"
        >
          {{ 'inventory.form.buttons.reset' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
