<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      slot="start"
      class="ion-margin-horizontal"
      [routerLink]="['/home/services/notifications']"
      name="chevron-back-outline"
    ></ion-icon>
    <ion-title> {{'services.notifications.service-detail.title' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-text-center">{{service.serviceTitle}}</h2>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-grid>
          <ion-row class="ion-margin-bottom ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
              <ion-text>
                {{'services.notifications.service-detail.client-name' | translate}}
              </ion-text>
              <br />
              {{service.name}}
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-vertical">
            <ion-col class="ion-text-center">
              <ion-text>
                {{'services.notifications.service-detail.description-label' | translate}}
              </ion-text>
              <br />
              {{service.conditionDescription}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-text>
                {{'services.notifications.service-detail.address-label' | translate}}
              </ion-text>
              <br />
              {{service.address}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-text>
                {{'services.notifications.service-detail.phone-number-label' | translate}}
              </ion-text>
              <br />
              {{service.phoneNumber}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
