<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      slot="start"
      class="ion-margin-horizontal"
      [routerLink]="['/home/services/notifications']"
      name="chevron-back-outline"
    ></ion-icon>
    <ion-title>
      {{'services.notifications.service-detail.title' | translate}} {{service.serviceTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-margin-vertical">
          <ion-col>
            {{'services.notifications.service-detail.description-label' | translate}}<br />
            {{service.conditionDescription}}
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-vertical">
          <ion-col>
            {{'services.notifications.service-detail.address-label' | translate}}<br />
            {{service.address}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label class="ion-text-center"
          >{{'services.notifications.service-detail.phone-number-label' | translate}}
          {{service.phoneNumber}}</ion-label
        >
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
