<div>  

  <ion-icon class="arrow-back" name="arrow-back-outline" (click)="homePage.onSubmitPrincipal()" slot="start"></ion-icon>

  <ion-card>
    <ion-item>
      <img src="../assets/images/industrial.png" width="24px">
      <ion-button fill="outline" slot="end" href="https://api.whatsapp.com/send?phone=573054101102" target="blank">Solicitar Servicio</ion-button>
    </ion-item>
  
    <ion-card-content>
      <h2>Servicio para Cuartos frios</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <img src="../assets/images/industrial.png" width="24px">
      <ion-button fill="outline" slot="end" href="https://api.whatsapp.com/send?phone=573054101102" target="blank">Solicitar Servicio</ion-button>
    </ion-item>
  
    <ion-card-content>
      <h2>Servicio para Cuartos frios</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <img src="../assets/images/industrial.png" width="24px">
      <ion-button fill="outline" slot="end" href="https://api.whatsapp.com/send?phone=573054101102" target="blank">Solicitar Servicio</ion-button>
    </ion-item>
  
    <ion-card-content>
      <h2>Servicio para Cuartos frios</h2>
    </ion-card-content>
  </ion-card>
</div>