@font-face {
  font-family: Poppins-Light;
  src: url('../../assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: Lato-Regular;
  src: url('../../assets/fonts/AvertaDemo-ExtraBoldItalic.otf')
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../../assets/fonts/Poppins-Bold.ttf')
}

* {
  font-family: Poppins-Light;
}

ion-tab-bar {
  border: 0;
  margin-top: -1px;
}