<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon
      class="arrow-back"
      routerLink="/select-your-service"
      name="chevron-back-outline"
      slot="start"
    >
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="global-grid">
    <ion-row class="global-row ion-align-items-center ion-justify-content-center">
      <ion-col size-lg="8">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-margin">
              <h1>Type a password</h1>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col>
              <form [formGroup]="authService.authForm">
                <ion-item lines="none">
                  <ion-input formControlName="password" placeholder="Password" type="password">
                  </ion-input>
                </ion-item>
                <div class="ion-margin-horizontal ion-padding-horizontal">
                  <ion-text
                    color="danger"
                    *ngIf="controls.password.touched && controls.password.invalid"
                  >
                    The password must have a minimum of 8 characters.
                  </ion-text>
                </div>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-end ion-margin-horizontal">
              <ion-button (click)="onSubmitRegister()"> Next </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
