<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879964081618-a6pi27ilqmpn3vpenobeqnp5g17hgr12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879964081618-a6pi27ilqmpn3vpenobeqnp5g17hgr12</string>
	<key>API_KEY</key>
	<string>AIzaSyCGeZl6SNnM6vVd7gisMoOEts_TETRQdgE</string>
	<key>GCM_SENDER_ID</key>
	<string>879964081618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enterprise.app</string>
	<key>PROJECT_ID</key>
	<string>app-enterprise-763aa</string>
	<key>STORAGE_BUCKET</key>
	<string>app-enterprise-763aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879964081618:ios:45f26c829e458ffded8c0b</string>
	<key>DATABASE_URL</key>
	<string>https://app-enterprise-763aa-default-rtdb.firebaseio.com</string>
</dict>
</plist>